<%= form_for(@metric) do |f| %>
  <% if @metric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@metric.errors.count, "error") %> prohibited this metric from being saved:</h2>

      <ul>
      <% @metric.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :energy, "Energy Level" %><br />
    <% for i in 1..10 %>
      <%= f.label :energy, i, value: i %>
      <%= f.radio_button :energy, i %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :happiness, "Sense of Happiness" %><br />
    <% for i in 1..10 %>
      <%= f.label :happiness, i, value: i %>
      <%= f.radio_button :happiness, i %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :productivity, "Sense of Productivity" %><br />
    <% for i in 1..10 %>
      <%= f.label :productivity, i, value: i %>
      <%= f.radio_button :productivity, i %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :fulfillment, "Sense of Fulfillment" %><br />
    <% for i in 1..10 %>
      <%= f.label :fulfillment, i, value: i %>
      <%= f.radio_button :fulfillment, i %>
    <% end %>
  </div>
  
  <div class="field">
    <%= f.label :day, "How was your day?" %><br />
    <% for i in 1..10 %>
      <%= f.label :day, i, value: i %>
      <%= f.radio_button :day, i %>
    <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
