<!DOCTYPE html>
<html>
<head>
  <title>Wellness Tracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.5.1.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="http://cdn.oesmith.co.uk/morris-0.5.1.min.js"></script>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Roboto+Slab:700,400|Amatic+SC:700,400' type='text/css'>
</head>
<body>
  
  <div class="container">
  
    <header>
      <h1 class="header-title">Wellness Tracker</h1>
      <nav>
        <ul class="header-nav-ul">
          <% if current_user %>
            <li class="header-nav-link"><%= link_to "Dashboard", dashboard_path %></li>
            <li class="header-nav-link"><%= link_to "Profile", profile_path %></li>
            <li class="header-nav-link"><%= link_to "Logout", :logout, method: :post %></li>
          <% else %>
            <li class="header-nav-link"><%= link_to "Home", root_path %></li>
            <li class="header-nav-link"><%= link_to "Login", :login %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <main>
      <div class="flash">
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
      </div>
    
      <%= yield %>
    </main>
  
    <footer>
    
    </footer>
  
  </div>

</body>
</html>
